.paragraph--hero-title{
    font-size: 2.4rem;
    font-weight: 500;
    text-transform: uppercase;
}
.paragraph--upmedalmodal{
    color: #fff;
}

.paragraph--footertext{
    color: #fff;
}