.sliderTrackContainer--carousel{
    border-radius: 15px;
}

.sliderLayoutContainer--carousel{
    border-radius: 15px;
    max-width: 912px;
    margin-bottom: 25px;
}

.sliderArrows--carousel{
    bottom: 0;
}

.paginationDotsContainer--carousel{
    position:absolute;
    bottom: 0;
}

/*
.paginationDot--isActive{
    margin-top: 25px;
}
*/