.listContainer--upmedal{
    position: fixed;
    top: 64px;
    background-color: #212121;
    margin-bottom: 0px;
    color: #fff;
    z-index: 1000;
}
.listItem--listButton :global(.vtex-button){
    background-color: #212121;
    color:#fff;
    outline: none;
    border: none;
}
.listItemActive--listButton :global(.vtex-button){
    background-color: #212121;
    color: #59ff00;
    border-radius: 0;
    outline: none;
    border-bottom: 1px solid #59ff00 ;
}